@font-face {
   font-family: 'tilium';
   src: url(fonts/TitilliumWeb-Regular.ttf) format('truetype'),
        url(fonts/TitilliumWeb-Regular.eot) format('embedded-opentype'),
        url(fonts/TitilliumWeb-Regular.woft) format('woft');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'myriad';
   src: url(fonts/MyriadPro-Regular.otf) format('opentype');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'gtamerica';
   src: url(fonts/GT-America-Regular.otf) format('opentype');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'gtamericalight';
   src: url(fonts/GT-America-Light.otf) format('opentype');
   font-weight: normal;
   font-style: normal;
}
body { font-family:arial }
.header-internal { background:#ffce00; font-family:Trebuchet MS; }
.content { width:980px; margin:0px auto; }
.header-internal > .content > .row .col-md-auto { height:110px; width:250px; background: url(backgrounds/admin/internal-bg.png) 110px 0px no-repeat; }
.header-internal > .content > .row .col-md-auto div:first-child { margin-top:25px; }
i.menu-icon { background:url(backgrounds/admin/menu.png); height:20px; display:inline-block; }
i.vs { background-position:0px 0px; width:20px; }
i.us { background-position:-21px 0px; width:21px; }
i.mngr { background-position:-47px 0px; width:21px; }
i.logout { background:url(backgrounds/admin/logout.png); height:25px; display:inline-block; width:21px; }
.tbl-order,.tbl-summary,.tbl-order-2 { border:1px solid #cccccc; font-family:arial; }
.tbl-order tr td,.tbl-order-2 tr td,.tbl-order-3 tr td,.tbl-order-4 tr td,.tbl-order-5 tr td,.tbl-account tr td,
.tbl-list-order tr:first-child td,.tbl-list-order tr:nth-child(n+2) td:not(:nth-child(n+5)) { padding:10px; }
.tbl-order-2 { width:458px; }
.tbl-order tr td:first-child,.tbl-order-5 tr td:first-child { border-right:1px solid #cccccc; }
.tbl-order tr:not(:last-child) td { border-bottom:1px solid #cccccc; }
.tbl-order tr td:last-child { max-width: 345px; word-wrap: break-word; }
.tbl-title { background:#efefef; padding:10px; }
.bg-ffbc00 { background:#ffbc00; }
.bg-3333cc { background:#3333cc; }
.color-fff { color:#fff; }
.vao-content { font-family:arial; }
.vao-content h3,.dashboard-form h3 { font-weight:bold; font-size:20px; }
.tbl-w-1 tr td:first-child { width:130px; }
.tbl-w-1 tr td:last-child { width:345px; }
.tbl-w-3 { width:460px; }
.tbl-w-3 td { width:215px; }
.tbl-w-4 td { width:260px; }
.tbl-last { border-bottom:1px solid #cccccc; border-left:1px solid #cccccc; border-right:1px solid #cccccc; }
.tbl-last tr td,.tbl-w-2 tr td { width:240px; padding:10px; }
.tbl-last tr td:first-child,.tbl-summary tr td:nth-child(4) { border-right:1px solid #cccccc; }
.nav-tabs { border-bottom:5px solid #FFCE00; }
.nav-tabs .nav-item { width:calc(980px/3); }
.nav-tabs .nav-link.active { background:#ffce00; border-color:#ffce00; border-radius:0px; color:#333333; }
.nav-tabs .nav-link { background:#e5e5e5; border-radius:0px; color:#333333; border-left:2px solid #fff; font-size:18px; font-weight:bold; }
.nav-tabs .nav-link:hover { background:#ffce00; border:1px solid #ffce00;}
.nav-tabs-user,.nav-tabs-manager { border-bottom:5px solid #FFCE00; }
.nav-tabs-user .nav-item { width:auto; }
.nav-tabs-manager .nav-item { width:490px; }
.nav-tabs-user .nav-item:first-child,.nav-tabs-user .nav-item:nth-child(n+4) { width:193px; }
.nav-tabs-user .nav-link.active,.nav-tabs-manager .nav-link.active { background:#ffce00; border-color:#ffce00; border-radius:0px; color:#333333; }
.nav-tabs-user .nav-link,.nav-tabs-manager .nav-link  { background:#e5e5e5; border-radius:0px; color:#333333; border-left:2px solid #fff; font-size:18px; font-weight:bold; }
.nav-tabs-user .nav-link:hover,.nav-tabs-manager .nav-link:hover { background:#ffce00; border-color:#ffce00; }
.tab-content { border-left:2px solid #ffce00; border-right:2px solid #ffce00; border-bottom:2px solid #ffce00; font-family:arial; }
.tab-content input { border-radius:0px; }
.tbl-summary tr td:nth-child(2) { border-left:1px solid #ccc; border-right:1px solid #ccc; width:430px; }
.tbl-qa tr td:nth-child(3) { border-left:1px solid #ccc; border-right:1px solid #ccc; }
.tbl-summary tr td:not(:nth-child(3)),.tbl-qa tr td:not(:nth-child(2)) { border-bottom:1px solid #ccc; padding:10px; }
.tbl-summary tr:first-child td,.tbl-qa tr:first-child td,.tbl-list-order tr:first-child td { background:#e5e5e5; }
.tbl-summary tr td:nth-child(3),.tbl-qa tr td:nth-child(2) { border-bottom:1px solid #ccc; border-left:1px solid #ccc; border-right:1px solid #ccc; width:3px; }
.tbl-summary tr td:nth-child(4) { width:120px; }
.tbl-summary tr td:nth-child(4) div { margin-left:40px; }
.tbl-summary tr td:last-child { width:150px; }
.tbl-summary .custom-control-label::before,.tbl-qa .custom-control-label::before,.tbl-pay .custom-control-label::before { margin-top:-5px; width:22px; height:22px; background-color:#fff; border:1px solid #666666; }
.tbl-summary .custom-control-label::after,.tbl-qa .custom-control-label::after,.tbl-pay .custom-control-label::after  { margin-top:-5px; width:22px; height:22px; } 
.tbl-col-3 div:nth-child(2) { border-left:1px solid #cccccc; border-right:1px solid #cccccc; }
.tbl-col-3 div,.tbl-col-2 div { padding:10px; }
.tbl-col-3 span { color:#ff3300; }
.tbl-qa { width:940px; }
.tbl-qa tr:last-child td:first-child { border-left:1px solid #ccc; }
.tbl-qa tr:last-child td:last-child { border-right:1px solid #ccc; }
.tbl-qa tr td:first-child { width:670px; }
.tbl-qa tr td:nth-child(3) { width:120px; }
.tbl-summary select { border:none; background-color: #ffffff; background-image: url(backgrounds/arrow-down.jpg); -moz-appearance: none; -webkit-appearance: none; background-repeat: no-repeat; background-position: right; border-radius:0px !important; }
.tbl-qa .custom-control { width:22px !important; margin:0px auto !important; }
.tbl-av .custom-control { width:22px !important; }
.tbl-av .custom-control-label::before { margin-top:-5px; width:22px; height:22px; background-color:#fff; border:1px solid #666666; }
.tbl-av .custom-control-label::after { margin-top:-5px; width:22px; height:22px; } 
.tbl-notes { border:1px solid #cccccc; padding:10px; height:100px; }
i.d-u-icon { background:url(backgrounds/direct-upload-icon2.png); background-repeat:no-repeat; height:15px; width:25px; display:inline-block; }
i.d-u-icon-bat { background-position:-23px 0px; }
i.d-u-icon-car { background-position:-47px 0px; }
i.a-s-icons { background:url(backgrounds/social-icons-v3.png); height:60px; width:60px; display:inline-block; }
i.a-s-icons-rev { background-position:-334px 0px; }
i.a-s-icons-yt { background-position:-399px 0px; }
i.a-s-icons-url { background-position:-465px 0px; }
.bg-eae { background:#eaeaea; }
.border-property { padding:10px; border-top:1px solid #cccccc; border-left:1px solid #cccccc; border-right:1px solid #cccccc; }
.border-property input,.user-form input,.search-container input { border-radius:0px; }
.border-property input::placeholder,.user-form input::placeholder { font-size:13px; color:#000000; }
.m-v-scroll { overflow-y: scroll; overflow-x: hidden; height:600px; border-bottom:1px solid #ccc; }
.open .custom-control-input:checked~.custom-control-label::before { background:#3333cc; }
.closed .custom-control-input:checked~.custom-control-label::before { background:#ff0033; }
.on-off .custom-control-input:checked~.custom-control-label::before { background:#009900; }
.pdf-icon { background:url(backgrounds/pdf.png); background-repeat:no-repeat; height:63px; width:51px; display:inline-block; }
.storyboard-tab h3 { font-size:22px; font-family:Myriad Pro; margin:0px; margin-left:10px; }
.storyboard-tab select { border:1px solid #cccccc; background-color: #ffffff; background-image: url(backgrounds/arrow-down.jpg); -moz-appearance: none; -webkit-appearance: none; background-repeat: no-repeat; background-position: right; border-radius:0px !important; }
.storyboard-tab button { background:#006633; border:none; border-radius:7px; }
.colour-width div:nth-child(even) { width:100px; padding-left:15px; }
i.standard-video { background:url(backgrounds/standard-video-icons.png); height:23px; width:23px; display:inline-block; margin-right:10px; vertical-align:middle; background-repeat:no-repeat; }
i.sv-save { background-position:-1px 0px; }
i.sv-export { background-position:-23px 0px; } 
.picture-uploader { border:1px solid #ccc; text-align:center; height:141px;padding:10% 0; margin-bottom:22px; }
.board-data { background:#eaeaea; }
.board-data div:first-child { width:250px; text-align:center; }
.board-data div:last-child { border:1px solid #cccccc; background:#ffffff; width:450px; }
.bg-efefef { background:#efefef; }
.color-333 { color:#333333; }
.border-data { border:1px solid #cccccc; } 
.board-title > div { width:350px; height:40px; margin-bottom:6px; }
.storyboard-tab img { padding:20px 0px 0px; }
.storyboard-tab .col-md-3 img { width:215px; height:156px; }
.storyboard-list > div:nth-child(even) { margin:20px 0px; }
.border-data2 { border-left:1px solid #cccccc; width:160px; }
.height-80 { height:80px; }
.board-row2 .col-md { padding-left:14px; }
.storyboard-form { margin-top:55px; }
.storyboard-form input { width:100px; }
.storyboard-form select { width:470px; }
.storyboard-title { background:#efefef; padding:10px; }
.circle-area { border-radius:50%; width:20px; height:20px; }
.board-upload { border-bottom:1px solid #ccc; border-top:1px solid #ccc; }
.height-90 { height:90px; }
.bg-0066ff { background:#0066ff !important; }
.bg-ff3300 { background:#ff3300; }
.bg-009900 { background:#009900; }
.bg-ff9900 { background:#ff9900; }
.bg-ff0033 { background:#ff0033; }
.bg-6600cc { background:#6600cc; }
.join-step-next { font-family:Trebuchet MS; }
.join-step-next button { border-radius:7px; }
.bg-333 { background:#333333; }
.search-container { background:#eaeaea; padding:20px 0px; margin-bottom:30px;}
.search-container .col-sm-2:first-child,.user-form > .col-sm-2 { font-size:20px; }
.search-container button { background:#ff3300; border:none; border-radius:7px; color:#fff; }
.video-text { border:1px solid #cccccc; padding:7px 10px; }
.user-btn button { border:none; border-radius:7px; width:100px; font-family:arial; }
button.basic { background-color: #6600cc; color: #fff; width: 100%; font-family: Trebuchet MS; }
button.per-month { background-color: #0066ff; color: #fff; width: 100%; font-family: Trebuchet MS; }
.storyboard-tab h4 { font-size:16px; font-weight:bold; }
.details-row > div:nth-child(even) { margin:15px 0px; }
.m-r-l { margin-left:-15px; margin-right:-15px; }
.form-payment .video-text { width:95px; }
.tbl-order-3,.tbl-order-4,.tbl-order-5,.tbl-account { border:1px solid #ccc; }
.tbl-order-3 tr td:nth-child(2),.tbl-order-4 tr td:nth-child(2)  { border-left:1px solid #ccc; border-right:1px solid #ccc; }
.tbl-order-3 tr:nth-child(even) td,.tbl-order-4 tr:nth-child(even) td,.tbl-account tr:nth-child(even) td  { border-top:1px solid #ccc; border-bottom:1px solid #ccc; }
.tbl-order-5 td:first-child { width:100px; }
.tbl-order-5 td:last-child { width:359px; }
.email-scroll { overflow-y: scroll; overflow-x: hidden; background: #ffffff; border: 1px solid #cccccc; height: 200px; }
.email-scroll ul { list-style-type: none; padding: 10px; } 
.plan-data { border:1px solid #ccc; margin-top:20px; }
.plan-data div { padding:5px 10px; }
.plan-data div:first-child { border-right:1px solid #ccc; }
.form-color .col-sm:first-child,.tbl-col-2 div:first-child { border-right:1px solid #ccc; }
.billing-button button { padding:5px 10px 0px 5px; width:128px; border:1px solid #f292a5; background-color:#ff0033; border-radius:7px; }
.billing-button span { vertical-align:text-bottom; padding-left:10px; }
.billing-a { padding:0px 10px; width:120px; }
.billing-border { border:1px solid #999999; padding:10px 15px; margin-bottom:20px; }
.billing-border h3,.balance-amount h3 { color: #424244; font-size: 20px; font-weight: bold; margin:0px; }
.billing-arrow { border-left: 20px solid transparent; border-right: 20px solid transparent; border-bottom: 20px solid #939393; width:0px; height:0px; }
.billing-table { border:1px solid #999999; }
.billing-data { border:1px solid #999999; background:#e8e8e8; padding:5px 10px 5px 30px; margin-top:20px; }
.billing-table tr td,.billing-table-2 tr td { border-bottom:1px solid #999999; padding:10px; }
.billing-table tr td:nth-child(2) { border-left:1px solid #999999; border-right:1px solid #999999; width:715px; }
.billing-table tr td:first-child { text-align:center; }
.billing-table tr td:last-child,.billing-table span,.billing-table-2 tr td:last-child { text-align:right; }
.billing-amount { border:1px solid #999999; padding:5px 10px; font-size:20px; }
i.billing-icon { background:url(backgrounds/billing-icon.png);  display:inline-block; }
i.billing-print { height:25px; width:24px; background-position:-1px 0px; } 
i.billing-download { height:25px; width:24px; background-position:-26px 0px; } 
i.billing-email { height:25px; width:27px; background-position:-51px 0px; } 
i.billing-query { height:25px; width:27px; background-position:-78px 0px; } 
.paid-amount { color:#ff0033; }
.billing-table-2 { border-left:1px solid #999; border-right:1px solid #999; background:#e8e8e8; width:350px; }
.billing-table-2 tr td:first-child { border-right:1px solid #999; width:211px; padding-right:30px; }
.payment-data div:first-child { width:180px; text-align:center; }
.payment-data div:nth-child(2) { width:400px; }
.payment-data div:nth-child(3) { width:195px; text-align:right; padding-right:30px; }
.payment-data div:last-child { border-left: 1px solid #999; border-right: 1px solid #999; width:137px; text-align:right; padding-right:25px; }
.payment-button { margin:0px 90px; }
.tbl-account tr:first-child td { background:#e5e5e5; }
.tbl-account tr:nth-child(2) td { background:#f2f2f2; }
.tbl-account tr:nth-child(n+2) td { border-right:1px solid #ccc; }
.tbl-account tr:nth-child(n+2) td:first-child { width:150px; }
.internal-form { background:#ffce00; padding:20px 0px; }
.internal-form form { padding:20px; background:#ffe780; margin:20px 0px 10px; }
.internal-form form h3 { font-size:18px; }
.internal-form form a { color:#666666; }
.internal-form button { background:#ff3300; border:none; border-radius:7px; font-family:arial; }
.internal-form input { border:1px solid #ccc; border-radius:0px; }
.FormContaniner{ display:table; height:100%; margin: 0 auto; }
.parentContainer{ display:table-cell; vertical-align:middle; }
.setting-r-1 > div:first-child { width:348px; }
.setting-r-1 > div:nth-child(2),.setting-r-1 > div:nth-child(3) { width:140px; }
.setting-r-1 > div:last-child { width:200px; }
.setting-r-3 > div:nth-child(odd) { width:157px; }
.setting-r-1 .video-text,.setting-r-2 > div,.setting-r-3 .video-text { width:315px; }
.tbl-list-order tr:nth-child(n+2) td { border-top:1px solid #ccc; }
.tbl-list-order tr td:nth-child(-n+7) { border-right:1px solid #666; }
.tbl-list-order tr td:nth-child(n+2):nth-child(-n+4) { width:auto; }
.tbl-list-order tr:nth-child(n+2) td:not(.compiler-form) { padding:10px; }
.tbl-list-order tr td.compiler-form { width:152px; }
.manager-form select,.compiler-form select { background-color:#ffffff; background-image:url(backgrounds/arrow-down.jpg);  -moz-appearance: none;  -webkit-appearance:none; background-repeat:no-repeat; background-position:right; border-radius:0px; }
.compiler-form select,.no-border { border:none !important; }
.arrow-left { border: 1px solid #ffffff; border-width: 0 3px 3px 0; display: inline-block; padding: 8px 8px 4px 4px; transform: rotate(135deg); -webkit-transform: rotate(135deg); margin: 6px 10px 0px 0px; }
.back-btn button { border:none; border-radius:7px; }
.dashboard-form > .col-sm:nth-child(2) { border-left:1px solid #666666; border-right:1px solid #666666; }
.dashboard-form h3.top { margin-bottom:33px; }
.line-height20 { line-height:20px; }
.dashboard-form .col-sm-3:first-child .d-flex div { width:100px; }
i.arrow-up { border: solid #666666; border-width: 0 1px 1px 0; display: inline-block; padding: 3px; transform: rotate(-135deg); -webkit-transform: rotate(-135deg); margin:-3px 10px; }
i.arrow-down { border: solid #666666; border-width: 0 1px 1px 0; display: inline-block; padding: 3px; transform: rotate(45deg); -webkit-transform: rotate(45deg); margin:2px 10px; }
.nav-item { color:#000; }
.peard-template { width:460px; height:256px; font-family:myriad; background:#112d52; }
.peard-template-2 { width:920px; height:527px; font-family:myriad; background:#112d52; }
.peard-template-3 { width:1920px; height:1080px; font-family:myriad; background:#112d52; }
.peard-color div { line-height:20px; }
.peard-color div:first-child { color:#0099d7; font-size:23px; }
.peard-color div:nth-child(2) { color:#ffffff; font-size:18px; }
.peard-color div:nth-child(3) { color:#ffffff; font-size:16px; line-height:15px; }
.peard-color div:nth-child(4) { color:#ffffff; font-size:13px; line-height:15px; }
.peard-color div:last-child { color:#0199d8; font-size:14px; }
.peard-template-2 > div:first-child img { width:460px; }
.peard-template-2 > div:last-child img { width:300px; }
.peard-color-2 div { line-height:30px; }
.peard-color-2 div:first-child { color:#0099d7; font-size:33px; }
.peard-color-2 div:nth-child(2) { color:#ffffff; font-size:28px; }
.peard-color-2 div:nth-child(3) { color:#ffffff; font-size:26px; line-height:25px; }
.peard-color-2 div:nth-child(4) { color:#ffffff; font-size:21px; line-height:25px; }
.peard-color-2 div:last-child { color:#0199d8; font-size:20px; }
.peard-template-3 > div:first-child img { width:970px; }
.peard-template-3 > div:last-child img { width:800px; }
.peard-color-3 div { line-height:auto; }
.peard-color-3 div:first-child { color:#0099d7; font-size:5rem; }
.peard-color-3 div:nth-child(2) { color:#ffffff; font-size:4.5rem; }
.peard-color-3 div:nth-child(3) { color:#ffffff; font-size:4.3rem; line-height:55px; }
.peard-color-3 div:nth-child(4) { color:#ffffff; font-size:3.5rem; line-height:55px; }
.peard-color-3 div:last-child { color:#0199d8; font-size:3rem; }
.agency-template { width:460px; height:256px; }
.agency-template > div:first-child,.agency-template .align-items-end { background:#353535; color:#ffffff; }
.agency-template .align-items-end { padding:20px; font-size:14px; font-family:gtamericalight; }
.agency-template > .d-flex div { width:230px; }
.agency-template .bg-fd4640 { font-family:gtamerica; background:#fd4640; color:#ffffff; padding:15px 20px 15px 20px; font-weight:bold; font-size:26px; }
.agency-template2 { width:960px; height:527px; }
.agency-template2 > div:first-child,.agency-template2 .align-items-end { background:#353535; color:#ffffff; }
.agency-template2 .align-items-end { padding:30px; font-size:29px; font-family:gtamericalight; height:370px; }
.agency-template2 > .d-flex div { width:480px; }
.agency-template2 .bg-fd4640 { font-family:gtamerica; background:#fd4640; color:#ffffff; padding:25px 30px 25px 30px; font-weight:bold; font-size:50px; }
@media (min-width:980px){
    .navbar-light .navbar-nav .nav-link,.header-internal a { color:#000; }
    .bg-light { background:none !important; }
    .header-internal .navbar-nav { margin-top:20px; }
    .header-internal .navbar-nav li { height:80px; border-left:1px solid #333333; width:117px; text-align:center; }
    .header-internal .navbar-nav li:last-child { border-right:1px solid #333333; }
}

@media (max-width:980px){
    .header-internal nav { color: rgba(0,0,0,.5); border-color: rgba(0,0,0,.1); }
    .header-internal nav { background-color: #f8f9fa !important; }
    .navbar-nav li { text-align:center; }
    .content { width:100%; }
    .header-internal h3 { color:#ff3300; font-family:tilium; font-weight:bold; margin:0px; }
}