@font-face {
   font-family: 'tilium';
   src: url(fonts/TitilliumWeb-Regular.ttf) format('truetype'),
        url(fonts/TitilliumWeb-Regular.eot) format('embedded-opentype'),
        url(fonts/TitilliumWeb-Regular.woft) format('woft');
   font-weight: normal;
   font-style: normal;
}

.header-internal { background:#ffce00; font-family:Trebuchet MS; }
.content { width:980px; margin:0px auto; }
.header-internal > .content > .row .col-md-auto:nth-child(3) { height:110px; width:250px; background: url(backgrounds/admin/internal-bg.png) 110px 0px no-repeat; }
.header-internal > .content > .row .col-md-auto:nth-child(3) div:first-child { margin-top:25px; }
i.menu-icon { background:url(backgrounds/admin/menu.png); height:20px; display:inline-block; }
i.vs { background-position:0px 0px; width:20px; }
i.us { background-position:-21px 0px; width:21px; }
i.mngr { background-position:-47px 0px; width:21px; }
i.logout { background:url(backgrounds/admin/logout.png); height:25px; display:inline-block; width:21px; }
.tbl-order,.tbl-summary,.tbl-order-2 { border:1px solid #cccccc; font-family:arial; }
.tbl-order tr td,.tbl-order-2 tr td,.tbl-order-3 tr td,.tbl-order-4 tr td,.tbl-order-5 tr td  { padding:10px; }
.tbl-order-2 { width:458px; }
.tbl-order tr td:first-child,.tbl-order-5 tr td:first-child { border-right:1px solid #cccccc; }
.tbl-order tr:not(:last-child) td { border-bottom:1px solid #cccccc; }
.tbl-title { background:#efefef; padding:10px; }
.bg-ffbc00 { background:#ffbc00; }
.bg-3333cc { background:#3333cc; }
.color-fff { color:#fff; }
.vao-content { font-family:arial; }
.vao-content h3 { font-weight:bold; font-size:20px; }
.tbl-w-1 tr td:first-child { width:130px; }
.tbl-w-1 tr td:last-child { width:345px; }
.tbl-w-3 { width:460px; }
.tbl-w-3 td { width:215px; }
.tbl-w-4 td { width:260px; }
.tbl-last { border-bottom:1px solid #cccccc; border-left:1px solid #cccccc; border-right:1px solid #cccccc; }
.tbl-last tr td,.tbl-w-2 tr td { width:240px; padding:10px; }
.tbl-last tr td:first-child,.tbl-summary tr td:nth-child(4) { border-right:1px solid #cccccc; }
.nav-tabs { border-bottom:5px solid #FFCE00; }
.nav-tabs .nav-item { width:calc(980px/3); }
.nav-tabs .nav-link.active { background:#ffce00; border-color:#ffce00; border-radius:0px; color:#333333; }
.nav-tabs .nav-link { background:#e5e5e5; border-radius:0px; color:#333333; border-left:2px solid #fff; font-size:18px; font-weight:bold; }
.nav-tabs .nav-link:hover { background:#ffce00; border:1px solid #ffce00;}
.nav-tabs-user { border-bottom:5px solid #FFCE00; }
.nav-tabs-user .nav-item { width:auto; }
.nav-tabs-user .nav-item:first-child,.nav-tabs-user .nav-item:nth-child(n+4) { width:196px; }
.nav-tabs-user .nav-link.active { background:#ffce00; border-color:#ffce00; border-radius:0px; color:#333333; }
.nav-tabs-user .nav-link { background:#e5e5e5; border-radius:0px; color:#333333; border-left:2px solid #fff; font-size:18px; font-weight:bold; }
.nav-tabs-user .nav-link:hover { background:#ffce00; border-color:#ffce00; }
.tab-content { border-left:2px solid #ffce00; border-right:2px solid #ffce00; border-bottom:2px solid #ffce00; }
.tab-content input { border-radius:0px; }
.tbl-summary tr td:nth-child(2) { border-left:1px solid #ccc; border-right:1px solid #ccc; width:430px; }
.tbl-qa tr td:nth-child(3) { border-left:1px solid #ccc; border-right:1px solid #ccc; }
.tbl-summary tr td:not(:nth-child(3)),.tbl-qa tr td:not(:nth-child(2)) { border-bottom:1px solid #ccc; padding:10px; }
.tbl-summary tr:first-child td,.tbl-qa tr:first-child td { background:#e5e5e5; }
.tbl-summary tr td:nth-child(3),.tbl-qa tr td:nth-child(2) { border-bottom:1px solid #ccc; border-left:1px solid #ccc; border-right:1px solid #ccc; width:3px; }
.tbl-summary tr td:nth-child(4) { width:120px; }
.tbl-summary tr td:nth-child(4) div { margin-left:40px; }
.tbl-summary tr td:last-child { width:150px; }
.tbl-summary .custom-control-label::before,.tbl-qa .custom-control-label::before,.tbl-pay .custom-control-label::before { margin-top:-5px; width:22px; height:22px; background-color:#fff; border:1px solid #666666; }
.tbl-summary .custom-control-label::after,.tbl-qa .custom-control-label::after,.tbl-pay .custom-control-label::after  { margin-top:-5px; width:22px; height:22px; } 
.tbl-col-3 div:nth-child(2) { border-left:1px solid #cccccc; border-right:1px solid #cccccc; }
.tbl-col-3 div,.tbl-col-2 div { padding:10px; }
.tbl-col-3 span { color:#ff3300; }
.tbl-qa { width:940px; }
.tbl-qa tr:last-child td:first-child { border-left:1px solid #ccc; }
.tbl-qa tr:last-child td:last-child { border-right:1px solid #ccc; }
.tbl-qa tr td:first-child { width:670px; }
.tbl-qa tr td:nth-child(3) { width:120px; }
.tbl-summary select { border:none; background-color: #ffffff; background-image: url(backgrounds/arrow-down.jpg); -moz-appearance: none; -webkit-appearance: none; background-repeat: no-repeat; background-position: right; border-radius:0px !important; }
.tbl-qa .custom-control { width:22px !important; margin:0px auto !important; }
.tbl-av .custom-control { width:22px !important; }
.tbl-av .custom-control-label::before { margin-top:-5px; width:22px; height:22px; background-color:#fff; border:1px solid #666666; }
.tbl-av .custom-control-label::after { margin-top:-5px; width:22px; height:22px; } 
.tbl-notes { border:1px solid #cccccc; padding:10px; height:100px; }
i.d-u-icon { background:url(backgrounds/direct-upload-icon2.png); background-repeat:no-repeat; height:15px; width:25px; display:inline-block; }
i.d-u-icon-bat { background-position:-23px 0px; }
i.d-u-icon-car { background-position:-47px 0px; }
.bg-eae { background:#eaeaea; }
.border-property { padding:10px; border-top:1px solid #cccccc; border-left:1px solid #cccccc; border-right:1px solid #cccccc; }
.border-property input,.user-form input,.search-container input { border-radius:0px; }
.border-property input::placeholder,.user-form input::placeholder { font-size:13px; color:#000000; }
i.a-s-icons { background:url(backgrounds/social-icons-v3.png); height:60px; width:60px; display:inline-block; }
i.a-s-icons-rev { background-position:-334px 0px; }
i.a-s-icons-yt { background-position:-399px 0px; }
.m-v-scroll { overflow-y: scroll; overflow-x: hidden; height:600px; border-bottom:1px solid #ccc; }
.open .custom-control-input:checked~.custom-control-label::before { background:#3333cc; }
.closed .custom-control-input:checked~.custom-control-label::before { background:#ff0033; }
.on-off .custom-control-input:checked~.custom-control-label::before { background:#009900; }
.pdf-icon { background:url(backgrounds/pdf.png); background-repeat:no-repeat; height:63px; width:51px; display:inline-block; }
.storyboard-tab h3 { font-size:22px; font-family:Myriad Pro; margin:0px; margin-left:10px; }
.storyboard-tab select { border:1px solid #cccccc; background-color: #ffffff; background-image: url(backgrounds/arrow-down.jpg); -moz-appearance: none; -webkit-appearance: none; background-repeat: no-repeat; background-position: right; border-radius:0px !important; }
.storyboard-tab button { background:#006633; border:none; border-radius:7px; }
i.standard-video { background:url(backgrounds/standard-video-icons.png); height:23px; width:23px; display:inline-block; margin-right:10px; vertical-align:middle; background-repeat:no-repeat; }
i.sv-save { background-position:-1px 0px; } 
.picture-uploader { border:1px solid #ccc; text-align:center; height:135px;padding:10% 0; }
.board-data { background:#eaeaea; }
.board-data div:first-child { width:250px; text-align:center; }
.board-data div:last-child { border:1px solid #cccccc; background:#ffffff; width:450px; }
.bg-efefef { background:#efefef; }
.color-333 { color:#333333; }
.border-data { border:1px solid #cccccc; } 
.board-title > div { width:357px; }
.board-title > div:first-child { margin-left:-15px; }
.storyboard-tab img { width:215px; padding:20px 0px; }
.border-data2 { border-left:1px solid #cccccc; width:160px; }
.board-row > .col-md { border-left:1px solid #ccc; }
.board-row > .col-md-3 div { margin-right:-15px; }
.height-65 { height:65px; }
.board-row2 .col-md { border-left:1px solid #cccccc; padding-left:14px; }
.storyboard-form { margin-top:55px; }
.storyboard-form input { width:100px; }
.storyboard-form select { width:475px; }
.board-upload { border-bottom:1px solid #ccc; }
.height-90 { height:90px; }
.bg-0066ff { background:#0066ff; }
.bg-ff3300 { background:#ff3300; }
.bg-009900 { background:#009900; }
.bg-ff9900 { background:#ff9900; }
.bg-ff0033 { background:#ff0033; }
.join-step-next { font-family:Trebuchet MS; }
.join-step-next button { border-radius:7px; }
.bg-333 { background:#333333; }
.search-container { background:#eaeaea; padding:20px 0px; margin-bottom:30px;}
.search-container .col-sm-2:first-child,.user-form > .col-sm-2 { font-size:20px; }
.search-container button { background:#ff3300; border:none; border-radius:7px; color:#fff; }
.video-text { border:1px solid #cccccc; padding:7px 10px; }
.user-btn button { border:none; border-radius:7px; width:100px; font-family:arial; }
button.basic { background-color: #6600cc; color: #fff; width: 100%; font-family: Trebuchet MS; }
button.per-month { background-color: #0066ff; color: #fff; width: 100%; font-family: Trebuchet MS; }
.storyboard-tab h4 { font-size:16px; font-weight:bold; }
.details-row > div:nth-child(even) { margin:15px 0px; }
.m-r-l { margin-left:-15px; margin-right:-15px; }
.form-payment .video-text { width:95px; }
.tbl-order-3,.tbl-order-4,.tbl-order-5 { border:1px solid #ccc; }
.tbl-order-3 tr td:nth-child(2),.tbl-order-4 tr td:nth-child(2)  { border-left:1px solid #ccc; border-right:1px solid #ccc; }
.tbl-order-3 tr:nth-child(even) td,.tbl-order-4 tr:nth-child(even) td { border-top:1px solid #ccc; border-bottom:1px solid #ccc; }
.tbl-order-5 td:first-child { width:100px; }
.tbl-order-5 td:last-child { width:359px; }
.email-scroll { overflow-y: scroll; overflow-x: hidden; background: #ffffff; border: 1px solid #cccccc; height: 200px; }
.email-scroll ul { list-style-type: none; padding: 10px; } 
.plan-data { border:1px solid #ccc; margin-top:20px; }
.plan-data div { padding:5px 10px; }
.plan-data div:first-child { border-right:1px solid #ccc; }
.form-color .col-sm:first-child,.tbl-col-2 div:first-child { border-right:1px solid #ccc; }
.billing-button button { padding:5px 10px 0px 5px; width:128px; border:1px solid #f292a5; background-color:#ff0033; border-radius:7px; }
.billing-button span { vertical-align:text-bottom; padding-left:10px; }
.billing-a { padding:0px 10px; width:120px; }
.billing-border { border:1px solid #999999; padding:10px 15px; margin-bottom:20px; }
.billing-border h3,.balance-amount h3 { color: #424244; font-size: 20px; font-weight: bold; margin:0px; }
.billing-arrow { border-left: 20px solid transparent; border-right: 20px solid transparent; border-bottom: 20px solid #939393; width:0px; height:0px; }
.billing-table { border:1px solid #999999; }
.billing-data { border:1px solid #999999; background:#e8e8e8; padding:5px 10px 5px 30px; margin-top:20px; }
.billing-table tr td { border-bottom:1px solid #999999; padding:10px; }
.billing-table tr td:nth-child(2) { border-left:1px solid #999999; border-right:1px solid #999999; width:715px; }
.billing-table tr td:first-child { text-align:center; }
.billing-table tr td:last-child,.billing-table span { text-align:right; }
.billing-amount { border:1px solid #999999; padding:5px 10px; font-size:20px; }
.border-l-r-666 { border-left: 1px solid #cccccc; border-right: 1px solid #cccccc; }
i.billing-icon { background:url(backgrounds/billing-icon.png);  display:inline-block; }
i.billing-print { height:25px; width:24px; background-position:-1px 0px; } 
i.billing-download { height:25px; width:24px; background-position:-26px 0px; } 
i.billing-email { height:25px; width:27px; background-position:-51px 0px; } 
i.billing-query { height:25px; width:27px; background-position:-78px 0px; } 
.paid-amount { color:#ff0033; }
@media (min-width:980px){
    .navbar-light .navbar-nav .nav-link,.header-internal a { color:#000; }
    .bg-light { background:none !important; }
    .header-internal .navbar-nav { margin-top:20px; }
    .header-internal .navbar-nav li { height:80px; border-left:1px solid #333333; width:117px; text-align:center; }
    .header-internal .navbar-nav li:last-child { border-right:1px solid #333333; }
    .header-internal h3 { color:#ff3300; font-family:tilium; font-weight:bold; margin:0px; }
    
}

@media (max-width:980px){
    .header-internal nav { color: rgba(0,0,0,.5); border-color: rgba(0,0,0,.1); }
    .header-internal nav { background-color: #f8f9fa !important; }
}